@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    /*background-image: linear-gradient(to top , #66ff66 0%, #009999 100%);*/
    background: url(multigreen.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Comfortaa', sans-serif;
}
.category-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 60%;
}
.category-p1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ic{
    font-size: 30px;
}
.category{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 254, 254, 0.5);
    backdrop-filter: blur(5px);
    
}
#myDoughnutChart{
    height: 150px;
    width: 150px;
}
.multiDoughnut{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 254, 254, 0.5);
    border-radius: 20px;
    margin-left: 5px;
}
#multiDoughnutChart{
    margin-left: 1vw;
    height: 325px;
    width: 325px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004d4d;
    height: 10%;
    padding: 0 1vw;
}
.logo{
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    user-select: none;
}
.logo img{ 
    height: 6vh;
    border: 2px solid white;
    border-radius: 50%;
    filter: brightness(110%);
}
header a{
    padding: 1vh 2vw;
    text-decoration: none;
    
    font-family: 'Comfortaa', sans-serif;
    /*border: none;*/
    color: white;
    background-color: #ff4d4d;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
}
.row{
    display: flex;
    width: 100%;
}
.r1{
    height: 40%;
}
.r1 h3{
    margin-top: 1vh;
}
.r2{
    height: 50%;
}
.per-anaylsis{
    width: 65%;
    margin: 5px;
    display: flex;
}
.cash-flow{
    width: 35%; 
    background: rgba(255, 254, 254, 0.5);
    margin: 5px;
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 20px;
}
.cash-flow p{
    font-size: 20px;
}
.cash-flow .profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    border: 2px solid rgb(0, 132, 248);
    border-radius: 50%;
}
.cfprt-1{
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}
.cfprt-2{
    display: flex;
    justify-content: space-between;
}
.uname{
    display: flex;
    gap: .5vw;
}


.addcash{
    width: 35%;
    background: rgba(255, 254, 254, 0.5);
    margin: 5px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
.title{
    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 1vh;
    margin-left: 2vw;
    font-size: 18px;
}
.ac1{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 1vh;
}
.ac1 input{
    width: 90%;
    height: 90%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(109, 109, 109);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 18px 45px 18px 18px;
    margin: auto;
}
.ac2{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.ac2 input{
    width: 90%;
    height: 90%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(109, 109, 109);
    border-radius: 40px;
    font-size: 1em;
    color: black;
    padding: 18px 45px 18px 18px;
    margin: auto;
}
.date{
    font-size: 2em;
}
.ac1 input:valid{
    border: 2px solid white;
}
.ac2 input:valid{
    border: 2px solid white;
}
.ac1 input::placeholder, .ac2 input::placeholder{
    color: black;
}
.ac1 select{
    padding: 5px;
    width: 40%;
    background: transparent;
    border: 2px solid rgb(109, 109, 109);
    border-radius: 20px;
}
.selectdrop{
    margin-left: 2vw;
    
}
.ac1 select:focus{
    outline: none;
}


.submitbtn{
    background-color: white;
    width: fit-content;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 2vw;
    margin-top: 1vh;
    cursor: pointer;
}
.submitbtn:hover{
    background-color: rgb(210, 210, 210);
    transition:  all 0.3s ease;
}
/*table*/
.table-container{
    width: 65%;
    margin: 5px;
    overflow-y: auto;
}
#expenditureTable {
    border-collapse: collapse;
    width: 100%;
   }
   
   #expenditureTable th, #expenditureTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
   }
   
   #expenditureTable th {
    background: #005959c7;
    backdrop-filter: blur(5px);
    color: white;
   }
   
   #expenditureTable tr{
    gap: 10px;
    background: rgba(255, 254, 254, 0.358);
    backdrop-filter: blur(5px);
   }
   

   #expenditureTable tr:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #d2d2d2;
   }
   
   #date_col{
    display:flex;
    justify-content: space-between;
   }
   #monthSelect{
    background: transparent;
    border: 2px solid white;
    color:white;
    padding: 0 5px 0 5px;
    border-radius: 20px;
   }
   #monthSelect:focus{
    background: gray;
   }
   /*.income_input{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display:none;
    position:absolute;
    top:50%;
    left: 50;
   }*/
   #income_ipt{
    
    width: 90%;
    height: 90%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(109, 109, 109);
    border-radius: 40px;
    font-size: 1em;
    color: white;
    padding: 18px 45px 18px 18px;
   }
   #income_ipt:valid{
    border: 2px solid white;
   }
   #income_ipt::placeholder{
    color: white;
   }
.s_button{
    background-color: white;
    width: fit-content;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 1vh;
    cursor: pointer;
}
.s_button:hover{
    background-color: rgb(210, 210, 210);
    transition:  all 0.3s ease;
}
