{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{%static 'css/style.css'%}">
        <title>Income | PennyWise</title>
    </head>
    <body>
        <div class = "income_input">
            <form method="post">
                {% csrf_token %}
                <input type = "number" id="income_ipt" name = "getincome" placeholder="enter your income">
                <button type="submit" class="s_button">Submit</button>
            </form>
        </div>
    </body>
</html>