{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pennywise</title>
    <link rel="stylesheet" href="{%static 'css/land.css'%}">
</head>

<body>
    <header>
        <nav>
            <div class="logo"><img src="{%static 'images/PennyWise (1).png'%}">pennywise</div>
            <div class="menu">
                <a href="/home/">Home</a>
                <a href="#">About Us</a>
                <a href="#">Contact</a>
            </div>
            <div class="register">
                <a href="signin/">Sign In</a>
            </div>
        </nav>
        <section class="h-text">
            <span>Start</span>
            <h1>Managing Your Money</h1>
            <br><a href="signup/">Sign Up Now</a>
        </section>
    </header>
</body>

</html>