{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pennywise</title>
    <link rel="stylesheet" href="{%static 'css/land.css'%}">
</head>

<body>
    <header>
        <nav>
            <div class="logo"><img src="{%static 'images/PennyWise (1).png'%}">pennywise</div>
            <div class="menu">
                <a href="/home/">Home</a>
                <a id="a2" href="#">About Us
                    <ul class="info1">
                        <li><b>Developers :</b></li><br>
                        <li>Sushant Hande</li>
                        <li>Dipanjan Karmakar</li>
                    </ul>
                </a>
                <a id="a3" href="#">Contact
                    <ul class="info2">
                        <li>Sushant Hande</li>
                        <li>handesushant04@gmail.com</li><br>
                        <li>Dipanjan Karmakar</li>
                        <li>dipanjankarmakar43@gmail.com</li>
                    </ul>
                </a>
            </div>
            <div class="register">
                <a href="signin/">Sign In</a>
            </div>
        </nav>
        <section class="h-text">
            <span>Start your journey as student</span></br>
            <h1>Managing Your Money</h1></br>
            <br><a href="signup/">Sign Up Now</a>
        </section>
    </header>
</body>
<script>

</script>

</html>